# Ollama settings
OLLAMA_MODEL='gemma2:2b'

# Discord settings
DISCORD_TOKEN='YOUR_DISCORD_TOKEN'

# Database settings
DB_HOST='localhost'
DB_USER='root'
DB_PASS=''
DB_BASE='wisteria'
DB_PORT='3306'

# Mail settings
MAIL_HOST='localhost'
MAIL_USER='exmple@webmail.com'
MAIL_PASS=''
MAIL_PORT='465'